In [1]:
a = 10

In [4]:
a

20

In [3]:
a = a + a

In [7]:
type(a)

float

In [6]:
a = 23.42

In [8]:
my_income = 100

tax = 0.1

my_taxes = my_income * tax

In [9]:
my_taxes

10.0

In [10]:
type(my_incomeome)

int

In [11]:
type(tax)

float

In [12]:
type(my_taxes)

float

In [13]:
'hello'

'hello'

In [14]:
"world"

'world'

In [15]:
print("hello")

hello

In [17]:
print("hello world one")
print("hello world two")

hello world one
hello world two

In [18]:
len('hello')

5

In [19]:
len('I am')

4

In [20]:
print("Hello World test")

Hello World test

In [21]:
mystring = "Hello World"

In [22]:
mystring

'Hello World'

In [23]:
mystring[0]

'H'

In [24]:
mystring[4]

'o'

In [25]:
mystring[-4]

'o'

In [26]:
mystring[-2]

'l'

In [27]:
mystring = "abcdefghijklmnopqrstuvwxyz"

In [28]:
mystring

'abcdefghijklmnopqrstuvwxyz'

In [29]:
mystring[4]

'e'

In [30]:
mystring[:5]

'abcde'

In [31]:
mystring[12:14]

'mn'

In [32]:
print(mystring[12:14])

mn

In [34]:
print(mystring[12:13] + mystring[0:1] + mystring[13:14] + mystring[14:15] + mystring[7:8] + mystring[0:1] + mystring[17:18])

manohar

In [36]:
mystring[::2]

'acegikmoqsuwy'

mystring[::]

In [37]:
mystring[::]

'abcdefghijklmnopqrstuvwxyz'

In [38]:
mystring[::-1]

'zyxwvutsrqponmlkjihgfedcba'

In [39]:
mystring[::-2]

'zxvtrpnljhfdb'

In [1]:
x = "Hello World"

In [2]:
x.upper()

'HELLO WORLD'

In [3]:
x.lower()

'hello world'

In [4]:
x.split()

['Hello', 'World']

In [5]:
x = "This is a string"

In [6]:
x.split()

['This', 'is', 'a', 'string']

In [7]:
x.split('i')

['Th', 's ', 's a str', 'ng']

In [1]:
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [2]:
print('They {} {} {}'.format('fox','brown','quick'))

They fox brown quick

In [3]:
print('They {2} {1} {0}'.format('fox','brown','quick'))

They quick brown fox

In [4]:
print('They {0} {0} {0}'.format('fox','brown','quick'))

They fox fox fox

In [5]:
print('They {q} {b} {f}'.format(f='fox',b='brown',q='quick'))

They quick brown fox

In [6]:
print('They {f} {f} {f}'.format(f='fox',b='brown',q='quick'))

They fox fox fox

In [7]:
result = 100/777

In [8]:
print(result)

0.1287001287001287

In [11]:
print('The result was {r}'.format(r=result))

The result was 0.1287001287001287

In [12]:
print('The result was {r:1.3f}'.format(r=result))

The result was 0.129

In [17]:
name = "Manohar"
print('Hello, his name is {}'.format(name))

Hello, his name is Manohar

In [16]:
print(f'Hello, his name is {name}')

Hello, his name is Manohar

In [19]:
name = "Manohar"
age = "45"
print(f'{name} is {age} years old.')

Manohar is 45 years old.

In [20]:
my_list = [1,2,3]

In [21]:
my_list = ['STRING', 100, 3.2]

In [22]:
print(my_list)

['STRING', 100, 3.2]

In [23]:
len(my_list)

3

In [24]:
mylist = ['one','two','three']

In [25]:
mylist[0]

'one'

In [26]:
mylist[1:]

['two', 'three']

In [27]:
mylist

['one', 'two', 'three']

In [28]:
another_list = ['four', 'five']

In [29]:
mylist + another_list

['one', 'two', 'three', 'four', 'five']

In [30]:
mylist

['one', 'two', 'three']

In [31]:
another_list

['four', 'five']

In [32]:
new_list = mylist + another_list

In [33]:
new_list

['one', 'two', 'three', 'four', 'five']

In [34]:
new_list[0] = 'ONE'

In [35]:
new_list

['ONE', 'two', 'three', 'four', 'five']

In [36]:
new_list.append('six')

In [37]:
new_list

['ONE', 'two', 'three', 'four', 'five', 'six']

In [38]:
new_list.append('seven')

In [39]:
new_list

['ONE', 'two', 'three', 'four', 'five', 'six', 'seven']

In [40]:
name

'Manohar'

In [41]:
new_list.append(name)

In [42]:
new_list

['ONE', 'two', 'three', 'four', 'five', 'six', 'seven', 'Manohar']

In [43]:
new_list.pop

In [44]:
new_list.pop()

'Manohar'

In [45]:
new_list

['ONE', 'two', 'three', 'four', 'five', 'six', 'seven']

In [46]:
popped_item = new_list.pop()

In [47]:
popped_item

'seven'

In [49]:
new_list.pop(0)

'ONE'

In [50]:
new_list

['two', 'three', 'four', 'five', 'six']

In [51]:
new_list = ['a','e','i','o','u']
num_list = [1, 2, 3, 4, 5]

In [52]:
new_list

['a', 'e', 'i', 'o', 'u']

In [53]:
new_list.sort()

In [54]:
new_list

['a', 'e', 'i', 'o', 'u']

In [55]:
type(new_list)

list

In [56]:
num_list.reverse()

In [57]:
num_list

[5, 4, 3, 2, 1]

In [1]:
new_list = [2,5,1,67,25,52,73]

In [2]:
new_list

[2, 5, 1, 67, 25, 52, 73]

In [3]:
new_list.sort()

In [4]:
new_list

[1, 2, 5, 25, 52, 67, 73]

In [5]:
new_list.reverse()

In [6]:
new_list

[73, 67, 52, 25, 5, 2, 1]

In [7]:
type(new_list)

list

In [8]:
new_list

[73, 67, 52, 25, 5, 2, 1]

In [9]:
new_list.pop(0)

73

In [10]:
new_list

[67, 52, 25, 5, 2, 1]

In [11]:
new_list.reverse()

In [12]:
new_list

[1, 2, 5, 25, 52, 67]

In [13]:
my_dict = {'key1':'value1','key2':'value2'}

In [14]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [19]:
my_dict['key1']

'value1'

In [21]:
prices_lookup = {'apple':2.99,'oranges':1.42,'milk':3}

In [22]:
prices_lookup['oranges']

1.42

In [24]:
prices_lookup['milk']

3

In [25]:
type(prices_lookup)

dict

In [26]:
my_dict.clear()

In [27]:
my_dict

{}

In [29]:
my_dict.values()

dict_values([])

In [30]:
my_dict.update()

In [31]:
my_dict

{}

In [32]:
my_dict = {'name1':'Manohar','name2':'Suhaana','name3':'Deepa'}

In [33]:
my_dict

{'name1': 'Manohar', 'name2': 'Suhaana', 'name3': 'Deepa'}

In [34]:
my_dict['name3']

'Deepa'

In [42]:
d = {'k1':123,'k2':[0,1,2,3],'k3':{'insidekey':100},'k4':'Manohar'}

In [43]:
d

{'k1': 123, 'k2': [0, 1, 2, 3], 'k3': {'insidekey': 100}, 'k4': 'Manohar'}

In [44]:
d["k1"]

123

In [45]:
d["k2"]

[0, 1, 2, 3]

In [48]:
d["k3"]['insidekey']

100

In [49]:
d['k2'][2]

2

In [3]:
d = {'k1':['a','b','c']}

In [51]:
d

{'k1': ['a', 'b', 'c']}

In [53]:
mylist = d['k1']

In [54]:
mylist

['a', 'b', 'c']

In [55]:
letter = mylist[2]

In [56]:
letter

'c'

In [57]:
letter.upper()

'C'

In [6]:
d

{'k1': 100, 'k2': 200, 'k3': 300, 'k4': 400}

In [8]:
d = {'k1':100,'k2':200,'k3':300,'k4':400}

In [10]:
d.values()

dict_values([100, 200, 300, 400])

In [11]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300), ('k4', 400)])

In [12]:
t = (1,2,3)

In [13]:
mylist = [1,2,3]

In [14]:
type(t)

tuple

In [15]:
type(mylist)

list

In [16]:
len(t)

3

In [17]:
len(mylist)

3

In [18]:
t = ('one',2)

In [19]:
t[0]

'one'

In [20]:
t[-1]

2

In [21]:
t = ('a','a','b')

In [22]:
t.count('a')

2

In [23]:
t.index('a')

0

In [24]:
t.index('b')

2

In [25]:
t

('a', 'a', 'b')

In [26]:
mylist

[1, 2, 3]

In [27]:
mylist[0] = 'NEW'

In [28]:
mylist

['NEW', 2, 3]

In [29]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [30]:
myset = set()

In [31]:
myset

set()

In [32]:
myset.add(1)

In [33]:
myset

{1}

In [36]:
myset.add(2)

In [37]:
myset

{1, 2}

In [38]:
myset.add(3)

In [39]:
myset

{1, 2, 3}

In [40]:
mylist = [1,1,1,1,1,2,2,2,2,2,3,3,3,4,5,6,6,6,7,7,8,9,0,0,0]

In [41]:
set(mylist)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [42]:
set('Parallel')

{'P', 'a', 'e', 'l', 'r'}

In [43]:
set('Palep')

{'P', 'a', 'e', 'l', 'p'}

In [44]:
set('Mississippi')

{'M', 'i', 'p', 's'}

In [45]:
True

True

In [48]:
False

False

In [49]:
type(False)

bool

1 > 2

In [50]:
1 > 2

False

In [51]:
1 == 1

True

In [52]:
1 != 2

True

In [54]:
1 < 0

False

In [55]:
b = None

In [56]:
type(b)

NoneType

In [57]:
b

In [58]:
%%writefile myfile.txt
Hello this is a text file
This is the second line
This is the third line.

Writing myfile.txt

In [59]:
myfile = open('myfile.txt')

In [60]:
myfile = open('whoops_wrong.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'whoops_wrong.txt'

In [61]:
pwd

'C:\\Users\\PMANOHAR'

In [68]:
myfile = open('myfile.txt')

In [69]:
myfile.read()

'Hello this is a text file\nThis is the second line\nThis is the third line.\n'

In [70]:
myfile.read()

''

In [71]:
myfile.seek(0)

0

In [72]:
myfile.read()

'Hello this is a text file\nThis is the second line\nThis is the third line.\n'

In [73]:
myfile.seek(0)

0

In [74]:
myfile.read()

'Hello this is a text file\nThis is the second line\nThis is the third line.\n'

In [75]:
myfile

In [76]:
type(myfile)

_io.TextIOWrapper

In [77]:
myfile.seek(0)

0

In [78]:
contents = myfile.read()

In [79]:
contents

'Hello this is a text file\nThis is the second line\nThis is the third line.\n'

In [80]:
myfile.seek(0)

0

In [81]:
myfile.readlines()

['Hello this is a text file\n',
 'This is the second line\n',
 'This is the third line.\n']

In [82]:
myfile.close()

In [83]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [84]:
contents

'Hello this is a text file\nThis is the second line\nThis is the third line.\n'

In [85]:
with open('myfile.txt',mode='r') as myfile:
    content = myfile.read()

In [86]:
content

'Hello this is a text file\nThis is the second line\nThis is the third line.\n'

In [94]:
%%writefile my_new_file.txt
ONE on FIRST
TWO on SECOND
THREE on THIRD

Writing my_new_file.txt

In [95]:
with open('my_new_file.txt', mode = 'r') as f:
    print(f.read())

ONE on FIRST
TWO on SECOND
THREE on THIRD

In [97]:
with open('my_new_file.txt', mode = 'a') as f:
    f.write('\nFOUR on FOURTH')

In [98]:
with open('my_new_file.txt', mode = 'r') as f:
    print(f.read())

ONE on FIRST
TWO on SECOND
THREE on THIRD
FOUR on FOURTH
FOUR on FOURTH

In [99]:
with open('fjsdfkl.txt', mode='w') as f:
    f.write('I CREATED THIS FILE!')

In [100]:
with open('fjsdfkl.txt', mode='r') as f:
    print(f.read())

I CREATED THIS FILE!

In [101]:
4 * (6+5)

44

In [102]:
4 * 6 + 5

29

In [103]:
4 + 6 * 5

34

In [104]:
1 < 2

True

In [105]:
1 > 2

False

In [106]:
2 >= 2

True

In [107]:
2 >= 3

False

In [108]:
2 <= 0.0

False

In [109]:
1 > 2 < 3

False

In [112]:
1 <2 and 2 < 3

True

In [113]:
not (1 == 1)

False

In [114]:
not 1 == 2

True

In [116]:
if True:
    print('ITS TRUE!')

ITS TRUE!

In [117]:
if 3 > 2:
    print('Its True!')

Its True!

In [125]:
hungry = False

In [126]:
if hungry:
    print('FEED ME!')
else:
    print('DONT FEED ME!')

DONT FEED ME!

In [1]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [2]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [5]:
for num in mylist:
    # Check for even numbers
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd number {num}')

Odd number 1
2
Odd number 3
4
Odd number 5
6
Odd number 7
8
Odd number 9
10

In [6]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
print(list_sum)

55

In [7]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
mystring = 'Hello World!'

for letter in mystring:
    print(letter.upper())

H
E
L
L
O

W
O
R
L
D
!

In [10]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [11]:
#Tuple Unpacking

mylist = [(1,2),(3,4),(5,6),(7,8),(9,10)]

In [12]:
len(mylist)

5

In [13]:
mylist

[(1, 2), (3, 4), (5, 6), (7, 8), (9, 10)]

In [14]:
for tup in mylist:
    print(tup)

(1, 2)
(3, 4)
(5, 6)
(7, 8)
(9, 10)

In [16]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8
9
10

In [17]:
for a,b in mylist:
    print(b)

2
4
6
8
10

In [29]:
mylist = [(1,2,3),(4,5,6),(7,8,9)]

In [30]:
mylist

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [31]:
for item in mylist:
    print(item)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

In [34]:
for a,b,c in mylist:
    print(b)

2
5
8

In [37]:
d = {'k1':1,'k2':2,'k3':3}

In [39]:
for item in d:
    print(item)

k1
k2
k3

In [40]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [41]:
for key,value in d.items():
    print(value)

1
2
3

In [42]:
for value in d.values():
    print(value)

1
2
3

In [1]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x = x + 1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

In [7]:
x = 1

while x < 5:
    print(f'The current value of x is {x}')
    x += 1

The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X is not less than 5

In [12]:
x = [1,2,3]

for item in x:
    # comment
    pass

print('end of my script')

end of my script

In [13]:
mystring = "Sammy"

In [15]:
#continue

for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [21]:
#break

for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [18]:
#while

x = 0

while x < 5:
    if x == 2:
        break
    print(x)
    x+=1

0
1

In [19]:
mylist = [1,2,3]

In [24]:
# range operator

for num in range(3,10,2): #start, range, step size
    print(num)

3
5
7
9

In [25]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [27]:
#enumerate operator

index_count = 0

for letter in 'abcde':
    print('At Index {} the letter is {}'.format(index_count,letter))
    index_count+=1

At Index 0 the letter is a
At Index 1 the letter is b
At Index 2 the letter is c
At Index 3 the letter is d
At Index 4 the letter is e

In [29]:
index_count = 0
word = 'abcde'

for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [34]:
word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [44]:
#zip operator

mylist1 = [1,2,3,4,5]
mylist2 = ['a','b','c','d','e']
mylist3 = [100,200,300]

In [39]:
zip(mylist1,mylist2)

In [45]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [46]:
# in operator

'x' in [1,2,3]

False

In [47]:
'x' in ['x','y']

True

In [49]:
'a' in 'a world'

True

In [52]:
'mykey' in {'mykey':100}

True

In [53]:
d = {'mykey':345}
345 in d.keys()

False

In [54]:
mylist = [10,20,30,40,50,100]

In [55]:
min(mylist)

10

In [56]:
max(mylist)

100

In [57]:
# import function

from random import shuffle

In [58]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [61]:
shuffle(mylist)

In [62]:
mylist

[5, 1, 4, 8, 3, 2, 6, 7, 9, 10]

In [63]:
from random import randint

In [64]:
randint(0,100)

74

In [67]:
mynum = randint(0,10)

In [68]:
mynum

10

In [70]:
result = input('Enter a number: ')

Enter a number: 562

In [71]:
result

'562'

In [72]:
type(result)

str

In [73]:
float(result)

562.0

In [74]:
int(result)

562

In [75]:
result

'562'

In [76]:
# List Comprehension

mystring = 'Manohar'

mylist = []

for letter in mystring:
    mylist.append(letter)

In [77]:
mylist

['M', 'a', 'n', 'o', 'h', 'a', 'r']

In [78]:
mylist = [letter for letter in mystring]

In [79]:
mylist

['M', 'a', 'n', 'o', 'h', 'a', 'r']

In [80]:
mylist = [x for x in 'abcde']

In [81]:
mylist

['a', 'b', 'c', 'd', 'e']

In [82]:
mylist = [x for x in range(0,11)]

In [83]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [84]:
# Square of numbers in list comprehension

mylist = [x**2 for x in range(0,11)]

In [85]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [86]:
mylist = [x for x in range(0,11) if x%2 == 0]

In [87]:
mylist

[0, 2, 4, 6, 8, 10]

In [88]:
celsius = [0,10,20,34,58,75]

fahrenheit = [( (9/5)*temp + 32) for temp in celsius]

In [93]:
celsius

[0, 10, 20, 34, 58, 75]

In [90]:
fahrenheit

[32.0, 50.0, 68.0, 93.2, 136.4, 167.0]

In [95]:
fahrenheit=[]

for temp in celsius:
    fahrenheit.append(( (9/5)*temp + 32))

In [96]:
celsius

[0, 10, 20, 34, 58, 75]

In [97]:
fahrenheit

[32.0, 50.0, 68.0, 93.2, 136.4, 167.0]

In [98]:
results = [x if x%2 == 0 else 'ODD' for x in range(0,11)]

In [99]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [100]:
mylist = []

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [101]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [102]:
#in List comprehension

mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [103]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [1]:
# Methods & Functions

In [2]:
# Methods

mylist = [0,1,2,3]

In [3]:
mylist

[0, 1, 2, 3]

In [4]:
mylist.append('2')

In [5]:
mylist

[0, 1, 2, 3, '2']

In [6]:
mylist.pop()

'2'

In [7]:
mylist

[0, 1, 2, 3]

In [8]:
mylist.insert(10)

TypeError: insert expected 2 arguments, got 1

In [9]:
mylist.insert(0,10)

In [10]:
mylist

[10, 0, 1, 2, 3]

In [11]:
mylist.pop(0)

10

In [12]:
mylist

[0, 1, 2, 3]

In [13]:
# Functions

In [14]:
def testfn():
    print('Hello')

In [15]:
testfn()

Hello

In [18]:
def say_hello():
    print('Hellllooooo!')
    print('hello')
    print('are')
    print('you')

In [19]:
say_hello()

Hellllooooo!
hello
are
you

In [21]:
say_hello()

Hellllooooo!
hello
are
you

In [22]:
def say_hello(name):
    print(f'Hello {name}')

In [23]:
say_hello('Manohar')

Hello Manohar

In [24]:
def say_hello(name='Manohar'):  #default value of a function
    print(f'Hello {name}')

In [25]:
say_hello()

Hello Manohar

In [26]:
say_hello('Deepa')

Hello Deepa

In [27]:
def add_num(num1,num2):
    return num1+num2  #return function

In [28]:
add_num(23,32)

55

In [29]:
result = add_num(42,256)

In [30]:
result

298

In [31]:
def print_result(a,b):
    print(a+b)

In [32]:
def return_result(a,b):
    return a+b

In [33]:
print_result(2,4)

6

In [34]:
result = print_result(2,4)

6

In [35]:
result

In [36]:
type(result)

NoneType

In [37]:
return_result(10,420)

430

In [38]:
result = return_result(42,23)

In [39]:
result

65

In [40]:
2%2

0

In [41]:
41%40

1

In [42]:
20%2

0

In [43]:
20 % 2 == 0

True

In [45]:
21 % 2 == 0

False

In [49]:
def even_check(number):
    return number % 2 == 0

In [50]:
even_check(20)

True

In [51]:
even_check(21)

False

In [52]:
# RETURN TRUE IF ANY NUMBER IS EVEN INSIDE A LIST

In [55]:
def check_even_list(num_list):
    
    for num in num_list:
        if num % 2 == 0:
            return True
        else:
            pass

In [56]:
check_even_list([1,3,5,7,9])

In [10]:
def check_even_list(num_list):
    # return all the even numbers in a list
    
    #placeholder variables
    even_numbers = []
    
    for number in num_list:
        if number % 2 == 0:
            even_numbers.append(number)
        else:
            pass
    return even_numbers

In [11]:
check_even_list([2,5,6,3,4,2])

[2, 6, 4, 2]

In [12]:
# Functions and Tuple unpacking

In [13]:
stock_prices = [('APPL',200),('GOOG',400),('TWIT',100)]

In [14]:
for item in stock_prices:
    print(item)

('APPL', 200)
('GOOG', 400)
('TWIT', 100)

In [17]:
for ticker, price in stock_prices:
    print(ticker)
    print(price + (0.1*price))

APPL
220.0
GOOG
440.0
TWIT
110.0

In [22]:
work_hours = [('Abby', 100),('Billy',4000),('Cassie',800)]

In [23]:
def employee_check(work_hours):
    
    current_max = 0
    employee_of_month = ''
    
    for employee,hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
        else:
            pass
    
    #Return
    return(employee_of_month, current_max)

In [25]:
result = employee_check(work_hours)

In [26]:
result

('Billy', 4000)

In [27]:
#Tuple unpacking using a function call

name, hours = employee_check(work_hours)

In [28]:
name

'Billy'

In [29]:
hours

4000

In [30]:
example = [1,2,3,4,5,6,7]

In [32]:
from random import shuffle
shuffle(example)

In [33]:
example

[1, 7, 3, 5, 6, 2, 4]

In [34]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [35]:
shuffle_list([1,4,2,3,6,2,1])

[3, 2, 1, 2, 4, 6, 1]

In [36]:
mylist = ['', 'O', '']

In [37]:
shuffle_list(mylist)

['O', '', '']

In [38]:
def player_guess():
    guess = ''
    
    while guess not in ['0','1','2']:
        guess = input('Pick a number: 0, 1, or 2')
        
    return int(guess)

In [39]:
player_guess()

Pick a number: 0, 1, or 24
Pick a number: 0, 1, or 22

2

In [40]:
myindex = player_guess()

Pick a number: 0, 1, or 21

In [41]:
myindex

1

In [42]:
def check_guess(mylist, guess):
    if mylist[guess] == 'O':
        print('Correct guess!')
    else:
        print('Wrong guess!')
        print(mylist)

In [44]:
# INITIAL LIST
mylist = ['','O','']

# SHUFFLE LIST
mixedup_list = shuffle_list(mylist)

# USER GUESS
guess = player_guess()

# CHECK GUESS
check_guess(mixedup_list,guess)

Pick a number: 0, 1, or 22
Wrong guess!
['O', '', '']

In [55]:
def myfn(name):
    print('Hello {}'.format(name))

In [54]:
myfunc('Manohar')

Hello Manohar

In [56]:
def myfunc(a,b):
    # Retuns 5% of the sum of a & b
    return sum((a,b)) * 0.05

In [57]:
myfunc(40,60)

5.0

In [58]:
def myfunc(*args):
    return sum(args) * 0.05

In [59]:
myfunc(10)

0.5

In [60]:
myfunc(29,349,29,450,29)

44.300000000000004

In [61]:
def myfunc(*args):
    for num in args:
        print(num)

In [62]:
myfunc(23,52,33,23,23)

23
52
33
23
23

In [63]:
def myfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('No fruits exist')

In [64]:
myfunc(fruit = 'apple', veggie = 'lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}
My fruit of choice is apple

In [65]:
def myfunc(*args, **kwargs):
    print(args)
    print(kwargs)
    print('I would like {} {}'.format(args[0],kwargs['food']))

In [68]:
myfunc(10,20,30,40,50,food='breads',animal='dogs')

(10, 20, 30, 40, 50)
{'food': 'breads', 'animal': 'dogs'}
I would like 10 breads

In [70]:
def myfunc(*args):
    return [x for x in args if x%2==0]

In [72]:
myfunc(20,402,2)

[20, 402, 2]

In [73]:
def myfunc(x):
    out = []
    for i in range(len(x)):
        if i%2==0:
            out.append(x[i].lower())
        else:
            out.append(x[i].upper())
    return ''.join(out)

In [74]:
myfunc('Manohar')

'mAnOhAr'

In [76]:
def myfunc(st):
    return ''.join([st[i].lower() if i%2==0 else st[i].upper() for i in range(len(st))])

In [78]:
myfunc('How are you')

'hOw aRe yOu'

In [79]:
# Python program to demonstrate the
# use of join function to join list
# elements with a character.
  
list1 = ['1','2','3','4'] 
  
s = "-"
  
# joins elements of list1 by '-'
# and stores in sting s
s = s.join(list1)
  
# join use to join a list of
# strings to a separator s
print(s)

1-2-3-4

In [80]:
# Python program to demonstrate the
# use of join function to join list
# elements without any separator.
  
# Joining with empty separator
list1 = ['g','e','e','k', 's'] 
print("".join(list1))

geeks

In [83]:
def myfunc(x):
    result = []
    for i in range(len(x)):
        if i % 2 == 0:
            result.append(x[i].lower())
        else:
            result.append(x[i].upper())
    return ''.join(result)

In [84]:
myfunc('String')

'sTrInG'

In [1]:
# MAP

In [2]:
def square(num):
    return num * 2

In [3]:
my_nums=[1,2,3,4,5]

In [4]:
map(square,my_nums)

In [5]:
for item in map(square, my_nums):
    print(item)

2
4
6
8
10

In [7]:
list(map(square,my_nums))

[2, 4, 6, 8, 10]

In [8]:
def splicer(mystring):
    if len(mystring) % 2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [9]:
splicer('Manohar')

'M'

In [10]:
names = ['Rajesh','Kiran','Ravi']

In [11]:
list(map(splicer, names))

['EVEN', 'K', 'EVEN']

In [12]:
def check_even(num):
    return num % 2 == 0

In [13]:
check_even(2)

True

In [14]:
mynums = [1,2,3,4,5,6]

In [16]:
list(map(check_even, mynums))

[False, True, False, True, False, True]

In [18]:
list(filter(check_even,mynums))

[2, 4, 6]

In [19]:
for n in filter(check_even, mynums):
    print(n)

2
4
6

In [22]:
def square(num):
    return num ** 2

In [23]:
square(2)

4

In [24]:
def square(num):return num ** 2

In [27]:
square(3)

9

In [26]:
square = lambda num:num ** 2

In [28]:
list(map(lambda num:num**2,mynums))

[1, 4, 9, 16, 25, 36]

In [29]:
list(filter(lambda num:num%2 == 0, mynums))

[2, 4, 6]

In [30]:
names

['Rajesh', 'Kiran', 'Ravi']

In [33]:
list(map(lambda name:name[::-1], names))

['hsejaR', 'nariK', 'ivaR']

In [34]:
# LEGB RULE

In [36]:
# lambda num:num**2

In [39]:
name = 'THIS IS A GLOBAL STRING'

def greet():
#    name = 'Sammy'
    
    def hello():
        print('Hello '+name)
    
    hello()
    
greet()

Hello THIS IS A GLOBAL STRING

In [40]:
x = "Hello"

def myfunc():
    x = 2
    x = x*2
    return x

In [41]:
x

'Hello'

In [44]:
myfunc()

4

In [45]:
x

'Hello'

In [51]:
x = 'Hello'

def myfunc(x):
        return x * 2

In [52]:
x

'Hello'

In [53]:
myfunc(2)

4

In [54]:
x

'Hello'

In [55]:
2*2

4

In [56]:
2*3

6

In [57]:
2**3

8

In [58]:
2**4

16

In [7]:
def display(row1,row2,row3):
    print(row1)
    print(row2)
    print(row3)

In [2]:
example_row = [1,2,3]

row1 = [1,2,3]
row2 = [' ',' ',' ']
row3 = ['','','']

display(row1,row2,row3)

[1, 2, 3]

[' ', ' ', ' ']

['', '', '']

In [6]:
row1

[1, 2, 3, 3]

In [5]:
row1.insert(4,3)